In [79]:
import pandas as pd
import numpy as np

In [80]:
df=pd.read_csv("data.csv")

In [81]:
df

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [82]:
df.describe()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
count,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000
mean,57.301724,27.582111,97.793103,10.012086,2.694988,26.615080,10.180874,14.725966,534.647000
std,16.112766,5.020136,22.525162,10.067768,3.642043,19.183294,6.843341,12.390646,345.912663
min,24.000000,18.370000,60.000000,2.432000,0.467409,4.311000,1.656020,3.210000,45.843000
25%,45.000000,22.973205,85.750000,4.359250,0.917966,12.313675,5.474283,6.881763,269.978250
50%,56.000000,27.662416,92.000000,5.924500,1.380939,20.271000,8.352692,10.827740,471.322500
75%,71.000000,31.241442,102.000000,11.189250,2.857787,37.378300,11.815970,17.755207,700.085000
max,89.000000,38.578759,201.000000,58.460000,25.050342,90.280000,38.040000,82.100000,1698.440000

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             116 non-null    int64
 1   BMI             116 non-null    float64
 2   Glucose         116 non-null    int64
 3   Insulin         116 non-null    float64
 4   HOMA            116 non-null    float64
 5   Leptin          116 non-null    float64
 6   Adiponectin     116 non-null    float64
 7   Resistin        116 non-null    float64
 8   MCP.1           116 non-null    float64
 9   Classification  116 non-null    object
dtypes: float64(7), int64(2), object(1)
memory usage: 9.2+ KB

In [84]:
df.isna().values.any()

False

In [85]:
df.isnull()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
111,False,False,False,False,False,False,False,False,False,False
112,False,False,False,False,False,False,False,False,False,False
113,False,False,False,False,False,False,False,False,False,False
114,False,False,False,False,False,False,False,False,False,False
115,False,False,False,False,False,False,False,False,False,False

In [86]:
df['Classification'].unique()

array(['1', 'na', '2'], dtype=object)

In [87]:
df.isna().values.any()

False

In [88]:
df.dtypes

Age                 int64
BMI               float64
Glucose             int64
Insulin           float64
HOMA              float64
Leptin            float64
Adiponectin       float64
Resistin          float64
MCP.1             float64
Classification     object
dtype: object

In [96]:
df[["Age","HOMA"]].groupby("Age").describe()

     HOMA                                                                  \
    count       mean        std       min       25%        50%        75%
Age
24    1.0   1.330000        NaN  1.330000  1.330000   1.330000   1.330000
25    1.0   0.827271        NaN  0.827271  0.827271   0.827271   0.827271
28    1.0   1.840410        NaN  1.840410  1.840410   1.840410   1.840410
29    2.0   1.174634   0.041292  1.145436  1.160035   1.174634   1.189233
32    1.0   3.009980        NaN  3.009980  3.009980   3.009980   3.009980
34    3.0   2.187933   2.374592  0.667436  0.819787   0.972138   2.948182
35    2.0   1.210041   0.428978  0.906707  1.058374   1.210041   1.361707
36    2.0   1.111073   0.267787  0.921719  1.016396   1.111073   1.205750
38    2.0   1.151249   0.115370  1.069670  1.110459   1.151249   1.192038
40    2.0   6.922611   8.916222  0.617890  3.770251   6.922611  10.074972
41    1.0   5.271762        NaN  5.271762  5.271762   5.271762   5.271762
42    2.0   0.848241   0.226657  0.687971  0.768106   0.848241   0.928376
43    3.0   2.940353   2.014187  1.099601  1.864601   2.629602   3.860729
44    4.0   5.900551   6.375925  1.600000  2.086445   3.358431   7.172536
45    7.0   1.383823   0.965437  0.755688  0.806501   1.046286   1.393311
46    3.0   3.294480   3.943292  0.742368  1.023617   1.304867   4.570536
47    1.0   0.590000        NaN  0.590000  0.590000   0.590000   0.590000
48    4.0   3.501033   3.473154  0.467409  0.539762   3.266900   6.228171
49    5.0   2.753767   3.193217  0.507936  0.732087   1.449709   2.853119
50    1.0   1.752611        NaN  1.752611  1.752611   1.752611   1.752611
51    4.0   0.997802   0.399841  0.696143  0.723180   0.866647   1.141269
52    1.0   6.483495        NaN  6.483495  6.483495   6.483495   6.483495
53    1.0   2.534932        NaN  2.534932  2.534932   2.534932   2.534932
54    3.0   1.838818   1.451756  0.791257  1.010236   1.229214   2.362598
55    1.0   3.775036        NaN  3.775036  3.775036   3.775036   3.775036
57    1.0   2.940415        NaN  2.940415  2.940415   2.940415   2.940415
58    1.0   5.685415        NaN  5.685415  5.685415   5.685415   5.685415
59    2.0   1.132141   0.744772  0.605507  0.868824   1.132141   1.395457
60    2.0   5.520701   5.961343  1.305395  3.413048   5.520701   7.628354
61    1.0   3.790144        NaN  3.790144  3.790144   3.790144   3.790144
62    2.0   0.953791   0.231378  0.790182  0.871986   0.953791   1.035595
64    2.0   1.207637   0.240760  1.037394  1.122515   1.207637   1.292758
65    3.0   2.317517   0.866416  1.370998  1.940572   2.510147   2.790777
66    5.0   1.908283   1.177440  0.845677  1.341324   1.432235   2.052390
67    1.0   1.133929        NaN  1.133929  1.133929   1.133929   1.133929
68    3.0   1.602061   1.011065  0.612725  1.086322   1.559920   2.096728
69    5.0   1.838975   0.514199  1.245642  1.406607   1.846290   2.346451
71    3.0   3.213014   1.318815  2.098344  2.485068   2.871792   3.770349
72    3.0   1.318932   0.849118  0.570392  0.857586   1.144780   1.693203
73    2.0   1.332215   0.750483  0.801543  1.066879   1.332215   1.597550
74    1.0   0.653805        NaN  0.653805  0.653805   0.653805   0.653805
75    4.0   1.651253   0.758415  1.013839  1.070688   1.481444   2.062009
76    4.0   3.339532   2.668980  1.100646  1.687563   2.572783   4.224753
77    2.0   0.843916   0.164554  0.727558  0.785737   0.843916   0.902095
78    1.0   0.519184        NaN  0.519184  0.519184   0.519184   0.519184
81    1.0   2.385020        NaN  2.385020  2.385020   2.385020   2.385020
82    2.0   2.734322   2.439053  1.009651  1.871987   2.734322   3.596658
83    1.0   0.706897        NaN  0.706897  0.706897   0.706897   0.706897
85    2.0  13.053472  16.966136  1.056602  7.055037  13.053472  19.051907
86    3.0   9.404495  10.170421  0.805386  3.791375   6.777364  13.704049
89    1.0   0.890787        NaN  0.890787  0.890787   0.890787   0.890787


           max
Age
24    1.330000
25    0.827271
28    1.840410
29    1.203832
32    3.009980
34    4.924226
35    1.513374
36    1.300427
38    1.232828
40   13.227332
41    5.271762
42    1.008511
43    5.091856
44   15.285341
45    3.485163
46    7.836205
47    0.590000
48    7.002923
49    8.225983
50    1.752611
51    1.561770
52    6.483495
53    2.534932
54    3.495982
55    3.775036
57    2.940415
58    5.685415
59    1.658774
60    9.736007
61    3.790144
62    1.117400
64    1.377880
65    3.071407
66    3.869788
67    1.133929
68    2.633537
69    2.349885
71    4.668907
72    2.241625
73    1.862886
74    0.653805
75    2.628283
76    7.111918
77    0.960273
78    0.519184
81    2.385020
82    4.458993
83    0.706897
85   25.050342
86   20.630734
89    0.890787

In [97]:
d=pd.read_csv("Iris.csv")

In [98]:
d

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [100]:
print("Iris_setosa")
setosa = d["Species"]== 'Iris-setosa'
print(d[setosa].describe())

Iris_setosa
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

In [101]:
print("Iris_setosa")
setosa = d["Species"]== 'Iris-virginica'
print(d[setosa].describe())

Iris_setosa
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000

In [102]:
print("Iris_setosa")
setosa = d["Species"]== 'Iris-versicolor'
print(d[setosa].describe())

Iris_setosa
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000